@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 40% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 40% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 9.1% 43.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 9.1% 43.1%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;
  }

  .dark {
    --background: 222.9 21.2% 12.9%;
    --foreground: 210 20% 98%;
    --card: 222.9 21.2% 15.9%;
    --card-foreground: 210 20% 98%;
    --popover: 222.9 21.2% 12.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 222.9 21.2% 18.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 222.9 21.2% 18.9%;
    --muted-foreground: 216 12.2% 65.1%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 222.9 21.2% 18.9%;
    --input: 222.9 21.2% 18.9%;
    --ring: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .animated-grid {
    width: 100%;
    height: 100%;
    z-index: -10;
    --grid-size: 50px;
    --grid-color: hsl(var(--foreground) / 0.05);
    background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: var(--grid-size) var(--grid-size);
    mask-image: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      hsl(var(--background)),
      transparent 80%
    );
    animation: grid-scroll 20s linear infinite;
  }
}

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes grid-scroll {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: var(--grid-size) var(--grid-size);
    }
  }
}
